@charset "utf-8";

*{
    margin:0;
    padding:0;
    list-style-type:none;
    font-family:'Times New Roman','Microsoft YaHei',SimHei;
}

a, img{
    border:0;
}
body{
    background:#F1F8FB;
}
a{
    text-decoration:none;
}

#preloader{
    /* Images you want to preload*/
    width:0;
    height:0;
    display:inline;
}

#main{
    width:1050px;
    background:url(../images/bcg_top.png) no-repeat;
    margin:0 auto;
}

#head{
    height:96px;
    width:100%;
}

#hr{
    width:2px;
    height:77px;
    float:left;
    margin-top:13px;
    margin-left:20px;
    background:#fff;
}

.about{
    font-weight:bold;
    height:19px;
    width:66px;
    border-right:1px dashed #fbf7f8;
    float:right;
    margin-top:2px;
    text-align:center;
}

#margin{
    margin-right:20px;
    border:none;
}

.about a{
    line-height:25px;
    color:#faf7fb;
    font-size:12px;
}

/*导航栏*/
#nav{
    height:39px;
    width:100%;
    background:#24a3ea;
}

#nav ul li{
    float:left;
    font-size:15px;
    width:96px;
    text-align:center;
    position:relative;

}

#nav ul{
    margin-left:120px;
}

#nav ul :hover{
    background:#009de0;
}

#nav ul li a{
    line-height:39px;
    color:#fafbfb;
    font-weight:bold;
}

#nav ul li ul{
    position:absolute;
    left:-120px;
    top:39px;
    display:none;
    background:#009de0;
    z-index:1000;
}

#nav ul li ul li{
    width:150px;
    float:none;
    margin-left:0;
}

#nav ul li ul :hover{
    background:#24a3ea;
}

#nav ul li ul li a{
    font-size:13px;
    margin:0 auto;
    display:block;
    width:130px;
    border-right:none;


}
#nav ul li ul li:not(:last-child) a{
    border-bottom:1px solid #fcf5f5;
}

#nav ul li:hover ul{
    display:block;
}

/* 轮播图*/

#focus_Box{
    position:relative;
    width:1050px;
    height:311px;
    margin:0 auto;
    overflow:hidden;
}

#focus_Box ul{
    position:relative;
    width:710px;
    height:308px
}

#focus_Box li{
    z-index:0;
    position:absolute;
    width:0;
    background:#787878;
    height:0;
    top:146px;
    cursor:pointer;
    left:377px;
}

#focus_Box li img{
    width:100%;
    height:100%;
    vertical-align:top;
}

#focus_Box li p{
    position:absolute;
    left:-8px;
    top:240px;
    max-width:70%;
    height:33px;
    line-height:33px;
    text-indent:8px;
    color:#fff;
    font-size:19px;
}

#focus_Box li p::after{
    width:0;
    height:0;
    font-size:0;
    position:absolute;
    border-left:21px solid #700a0b;
    border-top:12px solid #700a0b;
    border-right:12px solid transparent;
    border-bottom:21px solid transparent;
    content:"";

}

#focus_Box li p span{
    display:inline-block;
    height:33px;
    overflow:hidden;
    background:#700a0b;
}

.prev, .next{
    display:block;
    z-index:100;
    overflow:hidden;
    cursor:pointer;
    position:absolute;
    width:60px;
    height:90px;
    top:100px;
}

.prev{
    background:url(../images/laft.png) left bottom no-repeat;
    left:34px;
}

.next{
    background:url(../images/right.png) right bottom no-repeat;
    right:34px;
}

.left{
    position:absolute;
    width:500px;
    height:287px;
    top:15px;
    z-index:3;
    background:#362e2b;
    opacity:0.75;
    filter:alpha(opacity=75);
}

.right{
    position:absolute;
    width:500px;
    height:287px;
    top:15px;
    left:550px;
    z-index:3;
    background:#362e2b;
    opacity:0.75;
    filter:alpha(opacity=75);
}

/*content*/
#content{
    width:811px;
    margin:10px auto;
    min-height:600px;

}

.notice{
    width:385px;
    height:450px;
    float:left;
    margin-top:30px;
}

.top{
    height:50px;
    width:100%;
}

.notice_bottom{
    height:400px;
    width:100%;
    background:#def1fa;
    box-shadow:#888 0 2px 7px;
}

.notice_bottom li{
    width:98%;
    height:49px;
    position:relative;
    border-bottom:1px dashed #697276;
}

.notice_bottom li:last-child{
    border:none;
}

.notice_time{
    display:block;
    font-size:12px;
    text-align:center;
    width:87px;
    height:20px;
    float:left;
    margin-top:15px;
    line-height:19px;
    font-weight:bolder;
    color:#fafdfe;
    background:#32acef;
}

.notice_jiao{
    width:12px;
    height:20px;
    float:left;
    margin-top:15px;
    background:url(../images/blue.png) no-repeat;
}

.notice_content{
    width:255px;
    display:block;
    float:left;
    margin-left:20px;
    margin-top:15px;
}

.notice_content a{
    display:block;
    width:225px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-weight:bolder;
    font-size:13px;
    color:#003262;
}

.notice_content a:hover{
    color:#127ff2;
}

.news{
    width:410px;
    height:450px;
    float:right;
    margin-top:30px;
}

.look{
    height:98px;
    width:100%;
    position:relative;
}

.look img{
    height:98px;
    width:148px;
    float:left;
}

.look_time{
    position:absolute;
    width:80px;
    display:block;
    font-size:12px;
    text-align:center;
    height:20px;
    float:left;
    line-height:19px;
    font-weight:bolder;
    color:#fafdfe;
    background:#f38244;
    top:70px;
    left:0;
}

.look_jiao{
    position:absolute;
    width:80px;
    height:20px;
    left:80px;
    top:70px;
    float:left;
    background:url(../images/yellow.png) no-repeat;
}

.title{
    float:left;
    width:250px;
    margin-left:6px;
    height:18px;
    overflow:hidden;

}

.title a{
    font-size:12px;
    color:#003262;
    font-weight:bolder;
}

.size{
    width:255px;
    height:80px;
    float:left;
    margin-left:6px;
    font-size:12px;
    line-height:20px;
    font-family:"微软雅黑";
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient:vertical;
}

.news_bottom{
    height:294px;
    width:100%;
    margin-top:8px;
    background:#def1fa;
    box-shadow:#888 0 2px 7px;
}

.news_bottom li{
    height:41px;
    width:100%;
    border-bottom:1px dashed #697276;
}

.news_bottom li:last-child{
    border:none;
}

.news_bottom li a{
    font-size:12px;
    color:#003262;
}

.news_bottom li a:hover{
    color:#127ff2;
}

.span_left{
    display:block;
    height:41px;
    width:300px;
    line-height:41px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-weight:bolder;
    margin-left:5px;
    float:left;
}

.span_right{
    display:block;
    float:right;
    width:100px;
    height:41px;
    line-height:41px;
    font-size:11px;
    text-align:center;

}

.content-bottom{
    width:811px;
    height:100px;
    float:left;
    margin-top:35px;
    border-bottom:5px solid #2172c5;
}

.content-bottom a .liu:hover{
    box-shadow:#888 0 2px 7px;
}

.liu{
    position:relative;
    width:92px;
    height:82px;
    margin-left:25px;
    float:left;
    background:url(../images/xiao.png);
}




.content-bottom-lo{
    width:819px;
    height:110px;
    float:left;
}

.partner{
    width:100px;
    height:43px;
    text-align:center;
    line-height:45px;
}

.partner p{
    font-size:18px;
    font-weight:bolder;
    color:#074bac;
}

#demo{
    overflow:hidden;
    width:811px;
    background:#fff;
}

#indemo{
    float:left;
    width:800%;
}
#indemo img{
    margin-left:15px;
}

#demo1{
    float:left;
}

#demo2{
    float:left;
    margin-left:7px;
}

#select{
    width:819px;
    height:42px;
    float:left;

}

.select{
    background:none;
    border:1px solid #5d5d5e;
    text-align:center;
    width:186px;
    font-size:15px;
    height:25px;
    line-height:20px;
    padding:2px 0;
    margin-left:55px;
    margin-top:10px;
}

.select option{
    text-align:center;
}
#foot{
    height:50px;
    width:100%;
    background:#2baefe;
    text-align:center;
    padding-top:10px;
}

.last{
    margin:0 auto;
    width:760px;
    font-size:10px;
    font-weight:bolder;
    color:#deedfb;
}

/*3+2页面*/
.list_top{

    height:16px;
    width:100%;
}

.list_top img{
    float:left;
    margin-left:12px;
}

.list_top span{
    display:block;
    color:#5a5f6e;
    font-size:11px;
    line-height:19px;
    float:left;
    margin-left:6px;
}

.list_top span a{
    color:#236fb7;

}

.list_bottom{
    position:relative;
    width:100%;
    height:1010px;
    margin-top:45px;
}

.list_content{
    float:right;
    width:552px;
    max-height:783px;
    background:#236fb7;
    position:relative;
    margin-right:60px;
}

.list_content a{
    color:#000;
}

.list_content a:hover{
    text-decoration:underline;
}

.information{
    height:149px;
    width:529px;
    background:#fff;
    margin:33px auto;
    position:relative;
}

.information img{
    width:179px;
    height:123px;
    margin:12px 16px 14px 14px;
    float:left;
}

.information_title{
    line-height:42px;
    font-size:20px;
    height:42px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    color:#000;
}

.country_content{
    float:left;
    width:310px;
    height:90px;
    font-size:10px;
    line-height:23px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient:vertical;
    color:#000;
}

.list_more{
    position:absolute;
    left:445px;
    top:155px;
    font-size:11px;
    width:100px;
    height:20px;
    text-align:center;
    font-weight:bolder;

}

.list_more a{
    color:#fff;
}

.list_left{
    position:absolute;
    left:0;
    top:0;
    height:212px;
    width:152px;
}

.list_left ul li{
    border:1px solid #bac5ca;
    height:51px;
    width:150px;
    text-align:center;
    font-family:'微软雅黑';
    font-size:14px;
}

.list_left_a{
    color:#706666;
    display:block;
    height:100%;
}

.list_left_a:hover{
    color:#fff;
    font-weight:bolder;
}

.list_left_a:visited{
    background:#236fb7;
}

.list_left ul li:hover{
    background:#236fb7
}

.lo{
    color:#666;
    display:block;
    width:100%;
    line-height:51px;
}

.lo:hover{
    color:#fff;
    font-weight:bolder;
}

.li{
    display:block;
    width:100%;
    line-height:25px;
}

/*IACBE国际认证*/
.ren_title{
    width:100%;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:15px;
    color:#fff;
    font-weight:bolder;
}

.ren_content{
    width:525px;
    height:710px;
    margin:0 auto;
    margin-bottom:20px;
    background:#fff;
}

/*外籍专家*/

.waiji{
    height:180px;
    width:610px;
    float:right;
    margin:33px auto;
    position:relative;

}

.waiji img{
    width:218px;
    height:180px;
    float:left;
}

.waiji img:hover{
    box-shadow:0 2px 15px #888;
}

.wai_background{
    display:block;
    font-size:14px;
    text-align:center;
    width:100px;
    height:25px;
    line-height:25px;
    font-weight:bolder;
    color:#fafdfe;
    position:absolute;
    left:0;
    top:140px;
    background:#3bb5f3;
}

.wai_background2{
    display:block;
    font-size:14px;
    text-align:center;
    width:100px;
    height:25px;
    line-height:25px;
    font-weight:bolder;
    color:#fafdfe;
    position:absolute;
    left:0;
    top:135px;
    background:#f38244;

}

.wai_background3{
    display:block;
    font-size:14px;
    text-align:center;
    width:87px;
    height:25px;
    line-height:25px;
    font-weight:bolder;
    color:#fafdfe;
    position:absolute;
    left:0;
    top:135px;
    background:#7fe35d;

}

.wai_background4{
    display:block;
    font-size:14px;
    text-align:center;
    width:87px;
    height:25px;
    line-height:25px;
    font-weight:bolder;
    color:#fafdfe;
    position:absolute;
    left:0;
    top:135px;
    background:#dd3646;
}

.wai_tu{
    width:12px;
    height:25px;
    background:url(../images/123.png) no-repeat;
    -moz-background-size:12px 25px; /* 老版本的 Firefox */
    background-size:12px 25px;
    position:absolute;
    top:140px;
    left:100px;
}

.wai_tu2{
    width:12px;
    height:25px;
    background:url(../images/456.png) no-repeat;
    position:absolute;
    -moz-background-size:12px 25px; /* 老版本的 Firefox */
    background-size:12px 25px;
    top:135px;
    left:100px;
}

.wai_tu3{
    width:12px;
    height:25px;
    background:url(../images/678.png) no-repeat;
    position:absolute;
    -moz-background-size:12px 25px; /* 老版本的 Firefox */
    background-size:12px 25px;
    top:135px;
    left:87px;
}

.wai_tu4{
    width:12px;
    height:25px;
    background:url(../images/546.png) no-repeat;
    position:absolute;
    -moz-background-size:12px 25px; /* 老版本的 Firefox */
    background-size:12px 25px;
    top:135px;
    left:87px;
}

.common{
    width:195px;
    height:90px;
    background:#236fb7;
    float:left;
    border:1px solid #fff;
}

.common a{
    line-height:72px;
    font-size:15px;
    font-weight:bolder;
    color:#fff
}

.common span{
    display:block;
    width:195px;
    height:90px;
    text-align:center;
    line-height:90px;
}

.common span:hover{
    background:#5fcbf2;
}

.common2{
    width:195px;
    height:100px;
    background:#236fb7;
    float:left;
    border:1px solid #fff;
}

.common2 a{
    line-height:90px;
    font-size:15px;
    font-weight:bolder;
    color:#fff
}

.common2 span{
    display:block;
    width:195px;
    height:100px;
    text-align:center;
    line-height:100px;
}

.common3{
    width:392px;
    height:80px;
    background:#236fb7;
    float:left;
}

.common3 a{
    line-height:54px;
    font-size:15px;
    font-weight:bolder;
    color:#fff
}

.common3 span{
    display:block;
    width:392px;
    height:80px;
    text-align:center;
    line-height:80px;
}

.common2 span:hover{
    background:#5fcbf2;
}

.common3 span:hover{
    background:#5fcbf2;
}

.wai_size{
    height:180px;
    width:392px;
    float:left;
    background:#236fb7;
}

.font{
    width:300px;
    line-height:29px;
    font-size:14px;
    margin:0 auto;
    font-family:"微软雅黑";
    color:#fff;

}

.font div:last-child{
    border:none;
}

.qu{
    width:100%;
    height:45px;
    border-bottom:1px dashed #fff;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.qu a{
    color:#fff;
}

.qu a:hover{
    text-decoration:underline;
}

/*港澳台-短期交流项目*/
.content_1{
    margin-top:40px;
    width:567px;
    height:240px;
    background:#236fb7;
    float:right;
    margin-right:60px;
}

.content1_about{
    width:537px;
    height:187px;
    margin:30px auto;
    background:#fff;
}

.content1_about img{
    width:167px;
    height:109px;
    float:left;
    margin-top:35px;
    margin-left:6px;
    margin-right:15px;

}

.content1_about a{
    color:#000;
}

.content1_about a:hover{
    color:blue;
}

.content_right{
    height:187px;
    width:349px;
    float:right;
}

.content_title{
    height:50px;
    width:100%;
    font-size:20px;
    font-family:"微软雅黑";
    line-height:50px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.content_content{
    height:100px;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient:vertical;
    color:#000;
    font-size:10px;
    line-height:25px;
}

.content_content2{
    height:86px;
    width:326px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    color:#000;
    font-size:15px;
    line-height:41px;
    background:url(../images/20161218141217.png);

}

/*来华留学*/
.lai_content{
    width:392px;
    height:180px;
    background:#236fb7;
    float:left;

}

.liuxue{
    width:330px;
    margin:0 auto;
    border-bottom:1px dashed #fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#fff;
}

.liuxue a{
    font-size:15px;
    color:#fff;
    line-height:25px;
    font-weight:bolder;
}

.liuxue a:hover{
    text-decoration:underline;
}
.liuxue a p:first-child{
    margin-top: 8px;
}

.liuxue2{
    width:330px;
    margin:0 auto;
    border-bottom:1px dashed #fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#fff;
}

.liuxue2 a{
    font-size:12px;
    color:#fff;
    line-height:18px;
    font-weight:bolder;
}

.liuxue2 a:hover{
    text-decoration:underline;
}

.liuxue3{
    height:72px;
    width:330px;
    margin:0 auto;
    border-bottom:1px dashed #fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color:#fff;
}

.liuxue3 a{
    font-size:15px;
    color:#fff;
    line-height:25px;
    font-weight:bolder;
}

.liuxue3 a:hover{
    text-decoration:underline;
}

/*列表页*/
#list{
    min-height:400px;
    width:728px;
    background:#236fb7;
    margin:42px auto;
    overflow:hidden;

}

.list_li{
    width:705px;
    min-height:320px;
    border:1px solid #a4c4e1;
    margin-top:12px;
    margin-left:12px;
    float:left;
    background:#fff;
    margin-bottom:13px;
    overflow:hidden;
}

.xi{
    height:36px;
    width:662px;
    margin:0 auto;
    border-bottom:1px solid #a0a0a0;
}

.xi p{
    font-size:20px;
    font-weight:bolder;
    font-family:'微软雅黑';
    line-height:36px;
}

.shuang{
    width:662px;
    min-height:300px;
    margin:0 auto;
    margin-top:10px;
    overflow:hidden;
}

.shuang a{
    color:#1b1b1b;
    font-size:13px;
    font-family:'微软雅黑';
    font-weight:bolder;
}

.shuang a:hover{
    color:#79c7f1;
}

.hong{
    display:block;
    float:left;
    height:25px;
    width:550px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.mei{
    display:block;
    float:right;
    height:25px;
    width:80px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-align:center;
}

.ye{
    height:25px;
    margin:0 auto;
    text-align:center;
    margin-top:5px;
    bottom:5px;
}

.ye span{
    font-size:13px;
    font-weight:bolder;
    font-family:'微软雅黑';
}

#on{
    color:red;
}

.ye span a{
    margin-left:5px;
    color:#1b1b1b;
}

.ye span a:hover{
    text-decoration:underline;
}

.wang{
    margin-left:5px;
}

/*通知内容页*/
#neirong{
    width:728px;
    min-height:674px;
    background:#236fb7;
    margin:42px auto;
    padding:12px;
}

.yi{
    width:703px;
    min-height:651px;
    background:#fff;
    border-bottom:1px solid #a0a0a0;
    margin-left:12px;
    margin-top:12px;
    overflow:hidden;
}

.shang{
    width:513px;
    height:73px;
    margin:0 auto;
    text-align:center;
    border-bottom:1px solid #a0a0a0;
}

.shang p{
    font-size:20px;
    color:#1b1b1b;
    font-family:'微软雅黑';
    font-weight:bolder;
    line-height:40px;
}

.shang span{
    font-size:13px;
}

.cou{
    width:666px;
    min-height:550px;
    margin:12px auto;
}

/*搜索功能*/
#sousuo{
    float:right;
    margin-top:35px;
    margin-right:20px;
}
/*兼容谷歌内核*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #search{
        overflow:hidden;
    }
}

#sousuo-text{
    height:20px;
    background:none;
    border:2px solid white;
    border-radius:5px;
    padding:5px;
}
#sousuo-button{
    border:none;
    width:32px;
    height:32px;
    background:url("../images/sousuo.svg")no-repeat;
}