{template "content","header"}
<!--main-->
<div id="content">
    <div class="list_top">
        <img src="{IMG_PATH}home.png" alt="" />
        <span><a href="{APP_PATH}">首页 &gt;</a><a href="">{catpos($catid)}列表</a></span>
    </div>
    <div id="list">
        <div class="list_li">
            <div class="xi">
                <p>搜索结果</p>
            </div>
            <div class="shuang">


                <ul>
                    {pc:get sql="SELECT * FROM `v9_news` where title like '%$q%' order by id DESC " num="25" page="$page" return="data"}
                    {if $data==""}
                    <a href="#"><span class="hong">抱歉没有搜索结果</span></a>
                    {/if}
                    {loop $data $r}
                    <li>
                        <a href="{$r[url]}"><span class='hong'>{$r[title]}</span><span class='mei'>{date('m-d',$r['inputtime'])}</span></a>
                    </li>
                    {/loop}
                </ul>

            </div>
            <div class="ye">{$pages}</div>
        </div>
    </div>
</div>
{template "content","footer"}