<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="{CSS_PATH}style.css"/>
    <script src="{JS_PATH}ZoomPic.js"></script>
    <link rel="icon" href="{IMG_PATH}huaguang.ico" type="image/x-icon"/>


    <!--for the sideBar-->
    <script type="text/javascript">
        var catid = {$catid};//get the cat id
    </script>
    <script src="{JS_PATH}jquery-1.4.4.min.js"></script>
    <script src="{JS_PATH}jquery.scrollTo.js"></script>
    <script src="{JS_PATH}min.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}min.css"/>
    <title>国际教育与交流中心</title>
</head>
<body>
<div id="main_bc">
    <div id="main_bc_buttom">


        <div id="main">
            <div id="preloaderdiv"></div>
            <!--头部开始 -->
            <div id="head">
                <a href="{APP_PATH}"><img style="margin-left:108px;float:left;" src="{IMG_PATH}school.svg" height="120px" width="330px" alt=""/></a>
                <div id="hr"></div>

                <img style="float:left;margin-left:10px" src="{IMG_PATH}/wai.svg" height="110px" width="335px" alt=""/>
                <div class="about" id="margin">
                    <a title="联系我们" target="_blank"
                       href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=67">联系我们</a>
                </div>
                <div class="about">
                    <a title="学校主页" target="_blank" href="http://www.gcu.edu.cn/">学校主页</a>
                </div>
                <div class="about">
                    <a title="English" target="_blank" href="http://www.gcu.edu.cn/en/">English</a>
                </div>
                <div id="sousuo">
                    <form action="{APP_PATH}index.php" method="get" target="_blank">
                        <input type="hidden" name="m" value="search"/>
                        <input type="hidden" name="c" value="index"/>
                        <input type="hidden" name="a" value="init"/>
                        <input type="hidden" name="typeid" value="1" id="typeid"/>
                        <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
                        <div id="search" style="display:inline-block;">
                            <input type="text" name="q" id="sousuo-text" placeholder="关键字搜索" style="outline:none;">
                        </div>
                        <div style="display:inline-block;">
                            <input type="submit" id="sousuo-button" value="" />
                        </div>

                    </form>

                </div>
            </div>
            <!--导航栏开始 -->
            <div id="nav">
                <ul>
                    <li style="width:55px;"><a href="{APP_PATH}">首页</a></li>
                    <li>
                        <a href="#">部门介绍</a>

                        {pc:content action="category" catid="73" num="7" siteid="$siteid" order="listorder ASC"}
                        <ul>
                            {loop $data $r}
                                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                            {/loop}
                        </ul>
                        {/pc}

                    </li>
                    <li><a href="#">国际交流</a>

                        {pc:content action="category" catid="12" num="7" siteid="$siteid" order="listorder ASC"}
                        <ul>
                            {loop $data $r}
                                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                            {/loop}
                        </ul>
                        {/pc}

                    </li>
                    <li><a href="#">国际合作</a>
                        {pc:content action="category" catid="13" num="7" siteid="$siteid" order="listorder ASC"}
                        <ul>
                            {loop $data $r}
                            <li><a href="{$r[url]}">{$r[catname]}</a></li>
                            {/loop}
                        </ul>
                        {/pc}
                    </li>
                    <li><a href="#">港澳台合作</a>

                        {pc:content action="category" catid="14" num="7" siteid="$siteid" order="listorder ASC"}
                            <ul>
                                {loop $data $r}
                                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                                {/loop}
                            </ul>
                        {/pc}

                    </li>
                    <li><a href="#">国际认证</a>

                        {pc:content action="category" catid="15" num="7" siteid="$siteid" order="listorder ASC"}
                            <ul>
                                {loop $data $r}
                                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                                {/loop}
                            </ul>
                        {/pc}

                    </li>
                    <li><a href="#">外教管理</a>

                        {pc:content action="category" catid="16" num="7" siteid="$siteid" order="listorder ASC"}
                            <ul>
                                {loop $data $r}
                                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                                {/loop}
                            </ul>
                        {/pc}

                    </li>
                    <li><a href="#">来华留学</a>
                        {pc:content action="category" catid="17" num="7" siteid="$siteid" order="listorder ASC"}
                            <ul>
                                {loop $data $r}
                                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                                {/loop}
                            </ul>
                        {/pc}
                    </li>
                    <li><a href="#">港澳台招生</a>
                        {pc:content action="category" catid="18" num="7" siteid="$siteid" order="listorder ASC"}
                            <ul>
                                {loop $data $r}
                                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                                {/loop}
                            </ul>
                        {/pc}
                    </li>
                </ul>
            </div>