{template "content","header"}
<!--main-->
<div id="focus_Box">
    <span class="prev">&nbsp;</span>
    <span class="next">&nbsp;</span>
    <div class="left"></div>
    <div class="right"></div>
    {pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="6"}
    <ul>
    {loop $data $r}
        <li>
            <a href="{$r['url']}"><img  src="{$r[thumb]}" /></a>
            <p><span>{$r['title']}</span></p>
        </li>
    {/loop}
    </ul>
    {/pc}
</div>
<!--content开始 -->
<div id="content" class="clearfix">
    <div class="notice">
        <div class="top">
            <img src="{IMG_PATH}notice.png" alt="" />
            <a style="float:right;margin-top:28px;" href=""><img src="{IMG_PATH}more.png" alt="" /></a>
        </div>
        <div class="notice_bottom">
        {pc:content action="lists" catid="11" num="8" order="inputtime DESC"}
            <ul>
            {loop $data $v}
                <li>
                    <span class="notice_time">{date('Y-m-d',$v[inputtime])}</span>
                    <span class="notice_jiao"></span>
                    <span class="notice_content"><a title="{$v[title]}" href="{$v[url]}">{$v[title]}</a></span>
                </li>
            {/loop}
            </ul>
        {/pc}
        </div>
    </div>
    <div class="news">
        <div class="top">
            <img src="{IMG_PATH}news.png" alt="" />
            <a style="float:right;margin-top:28px;" href=""><img src="{IMG_PATH}more.png" alt="" /></a>
        </div>
        {pc:content  action="lists" catid="10" order="updatetime DESC" thumb="1" num="1" return="info"}
        <div class="look">
        {loop $info $v}
            <img src="{thumb($v[thumb],148,98)}" alt="" />
            <span class="look_time">{date('Y-m-d',$v[inputtime])}</span>
            <span class="look_jiao"></span>
            <span class="title"><a title="{str_cut($v['title'],23)}" href="#">{str_cut($v['title'],23)}</a></span>
            <div class="size">
                <p>{str_cut($v['description'],200)}</p>
            </div>
        {/loop}
        </div>
        {/pc}

        {pc:content action="lists" catid="10" num="7" order="id DESC" return="info"}
        <div class="news_bottom">
            <ul>
            {loop $info $v}
                <li>
                    
                        <a title="{$v['title']}" href="{$v['url']}"><span class="span_left">{str_cut($v['title'],40)}</span><span class="span_right">{date('Y-m-d',$v[inputtime])}</span></a>
                   
                </li>
            {/loop}
            </ul>
        </div>
        {/pc}
    </div>
    <script>






        $(document).ready(function () {
            $(".liu").stop().mouseover(function () {

                $(".aaa").animate({height:"8px"});
            }).mouseleave(function () {
                $(".aaa").stop().animate({height:"0"});
            });





        })



    </script>
    <div class="content-bottom">
        <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=87"><div style="margin-left:50px;" class="liu"></div></a>
        <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=88"><div style="background-position:-116px 0" class="liu"></div></a>
        <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=89"><div style="background-position:-235px 0" class="liu"></div></a>
        <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=90"><div style="background-position:-354px 0" class="liu"></div></a>
        <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=91"><div style="background-position:-475px 0" class="liu"></div></a>
        <a href="#"><div class="liu"></div></a>
    </div>
    <div class="content-bottom-lo">
        <div class="partner">
            <p>合作院校</p>
        </div>

        <div id="demo">
            <div id="indemo">
                {pc:link  action="type_list" typeid="56" siteid="$siteid" linktype="1" order="listorder DESC" num="8" return="pic_link"}
                    <div id="demo1">
                        {loop $pic_link $v}
                            <a href="{$v['url']}" target="_blank"><img src="{$v[logo]}" width="73" height="61" alt="{$v['name']}" /></a>
                        {/loop}
                    </div>
                {/pc}
                <div id="demo2"></div>
            </div>
        </div>
    </div>
    <div id="select" onchange="top.location.href = this.options[this.selectedIndex].value;">
        {pc:link  action="type_list" typeid="53"  siteid="$siteid" order="listorder DESC" num="20" return="dat"}
        <select class="select" onchange="top.location.href = this.options[this.selectedIndex].value;">
            <option selected="selected">-------教学单位-------</option>
            {loop $dat $v}
                <option value="{$v[url]}">{$v[name]}</option>
            {/loop}
        </select>
        {/pc}

        {pc:link  action="type_list" typeid="54"  siteid="$siteid" order="listorder DESC" num="20" return="dat"}
        <select class="select" onchange="top.location.href = this.options[this.selectedIndex].value;">
            <option selected="selected">-------职能部门-------</option>
            {loop $dat $v}
                <option value="{$v[url]}">{$v[name]}</option>
            {/loop}
        </select>
        {/pc}

        {pc:link  action="type_list" typeid="55"  siteid="$siteid" order="listorder DESC" num="20" return="dat"}
        <select class="select" onchange="top.location.href = this.options[this.selectedIndex].value;">
            <option selected="selected">-------友情链接-------</option>
            {loop $dat $v}
                <option value="{$v[url]}">{$v[name]}</option>
            {/loop}
        </select>
        {/pc}
    </div>
</div>
{template "content","footer"}