{template "content","header"}
<!--main-->
<div id="content" class="clearfix">
            <div class="list_top">
                <img src="{IMG_PATH}home.png" alt="" />
                <span><a href="{APP_PATH}">首页 &gt;</a><a href="">{catpos($catid)}列表</a></span>
            </div>
            <div class="list_bottom">
            {pc:content action="lists" catid="$catid" num="10" order="inputtime DESC" page="$page"}
                <div class="list_content">
                    {loop $data $r}
                    <a title="{$r[title]}" href="{$r[url]}">
                        <div class="information">
                            <img src="{$r[thumb]}" alt="" />
                            <p class="information_title">{$r[title]}</p>
                            <div class="country_content">
                                <p>{$r['description']}</p>
                            </div>
                            <div class="list_more">
                                <a title="相关资讯" href="{$r[url]}"><!--_blank--></a>
                            </div>
                        </div>
                    </a>
                    {/loop}
                </div>
            {/pc}
            {template "content","listSideBar"}
            </div>
        </div>
        <script>
            $(function(){
                readBar();
            })
        </script>
{template "content","footer"}