{template "content","header"}
<!--content开始 -->
<div id="content">
            <div class="list_top">
                <img src="{IMG_PATH}home.png" alt="" />
                <span><a title="首页" href="#">首页</a>>><a href="">{catpos($catid)}内容</a></span>
            </div>
            <div id="neirong" style="margin-bottom:20px;">
                <div class="yi">
                    <div class="shang">
                        <p id="title">{$title}</p>
                        <span>时间：</span><span>{$inputtime}</span>&nbsp;
                        <span>信息来源：</span><span>{$copyfrom}</span>&nbsp;
                        <span>点击：</span><span id="hits"></span>
                    </div>
                    <div class="cou">{$content}</div>
                </div>
            </div>
        </div>
<script>
    //修改标题不能回车的问题
    var title = $("#title").text();
    $("#title").empty();
    $("#title").append(title.replace("/\&lt\;/","<"));
</script>
{template "content","footer"}